{% extends '::base.html.twig' %}

{% block content %}
<section class="slider">
    <div class="tp-banner-container">
        <div class="tp-banner">
            <ul>
                <!-- SLIDE  -->
                <li data-transition="fade" data-slotamount="7" data-masterspeed="1500">
                    <!-- MAIN IMAGE -->
                    <img src="/img/slider1.jpg" alt="slidebg1" data-bgfit="cover" data-bgposition="left top"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="60"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="140"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="250"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="300"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="/img/slider6.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="60"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="190"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="300"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="347"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="/img/slider3.png" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="60"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="140"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="250"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="300"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                </li>
                <!-- SLIDE  -->
                <li data-transition="zoomout" data-slotamount="7" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="/img/slider4.jpg" alt="darkblurbg" data-bgfit="cover" data-bgposition="left top"
                         data-bgrepeat="no-repeat">
                    <!-- LAYERS -->
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="60"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="140"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="250"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                    <div class="tp-caption skewfromrightshort fadeout"
                         data-x="40"
                         data-y="300"
                         data-speed="500"
                         data-start="1200"
                         data-easing="Power4.easeOut">
                    </div>
                </li>

            </ul>
        </div>
    </div>
</section>


<!-- Featured Products -->
<div class="products-row row">

    <!-- Carousel Heading -->
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="carousel-heading">
            <h4>Cele mai apreciate produse</h4>

            <div class="carousel-arrows">
                <i class="icons icon-left-dir"></i>
                <i class="icons icon-right-dir"></i>
            </div>
        </div>

    </div>
    <!-- /Carousel Heading -->

    <!-- Carousel -->
    <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

        <div class="owl-carousel" data-max-items="3">

            {% for appreciated in mostAppreciated %}
                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ (appreciated.images is empty)? '/img/product_default.jpg' :  appreciated.images[0].getUrlThumbnailPicture() }}"
                                 alt="Product1">
                            <a href="{{ path('products_show', {id: appreciated.productId, slugName: appreciated.name|sonata_slugify}) }}"
                               class="product-hover">
                                <i class="icons icon-eye-1"></i> Vizualizare
                            </a>
                        </div>

                        <div class="product-info">
                            <h5>
                                <a href="{{ path('products_show', {id: appreciated.productId, slugName: appreciated.name|sonata_slugify}) }}">{{ appreciated.name|truncate(55,true) }}</a>
                            </h5>

                            <div class="rating readonly-rating" data-score="{{ appreciated.getAverageRating() }}"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
                                                        <a href="{{ path('products_show', {id: appreciated.productId, slugName: appreciated.name|sonata_slugify}) }}">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Vizualizare</span>
                                                        </a>
													</span>
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Adauga in wishlist</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


            {% endfor %}


        </div>
    </div>
    <!-- /Carousel -->

</div>
<!-- /Featured Products -->


<!-- New Collection -->
<div class="products-row row">

    <!-- Carousel Heading -->
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="carousel-heading">
            <h4>Produse adaugate recent</h4>

            <div class="carousel-arrows">
                <i class="icons icon-left-dir"></i>
                <i class="icons icon-right-dir"></i>
            </div>
        </div>

    </div>
    <!-- /Carousel Heading -->

    <!-- Carousel -->
    <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

        <div class="owl-carousel" data-max-items="3">

            {% for newProduct in newestProducts %}
                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ (newProduct.images is empty)? '/img/product_default.jpg' :  newProduct.images[0].getUrlThumbnailPicture() }}"
                                 alt="Product1">
                            <a href="{{ path('products_show', {id: newProduct.productId, slugName: newProduct.name|sonata_slugify}) }}"
                               class="product-hover">
                                <i class="icons icon-eye-1"></i> Vizualizare
                            </a>
                        </div>

                        <div class="product-info">
                            <h5>
                                <a href="{{ path('products_show', {id: newProduct.productId, slugName: newProduct.name|sonata_slugify}) }}">{{ newProduct.name|truncate(55,true) }}</a>
                            </h5>

                            <div class="rating readonly-rating" data-score="{{ newProduct.getAverageRating() }}"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
                                                        <a href="{{ path('products_show', {id: newProduct.productId, slugName: newProduct.name|sonata_slugify}) }}">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Vizualizare</span>
                                                        </a>
													</span>
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Adauga in wishlist</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


            {% endfor %}



        </div>
    </div>
    <!-- /Carousel -->

</div>
<!-- /New Collection -->


<!-- Random Products -->
<div class="products-row row">

    <!-- Carousel Heading -->
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="carousel-heading">
            <h4>Produse aleatoare</h4>

            <div class="carousel-arrows">
                <i class="icons icon-left-dir"></i>
                <i class="icons icon-right-dir"></i>
            </div>
        </div>

    </div>
    <!-- /Carousel Heading -->

    <!-- Carousel -->
    <div class="carousel owl-carousel-wrap col-lg-12 col-md-12 col-sm-12">

        <div class="owl-carousel" data-max-items="3">
            {% for random in randomProducts %}
                <!-- Slide -->
                <div>
                    <!-- Carousel Item -->
                    <div class="product">

                        <div class="product-image">
                            <img src="{{ (random.images is empty)? '/img/product_default.jpg' :  random.images[0].getUrlThumbnailPicture() }}"
                                 alt="Product1">
                            <a href="{{ path('products_show', {id: random.productId, slugName: random.name|sonata_slugify}) }}"
                               class="product-hover">
                                <i class="icons icon-eye-1"></i> Vizualizare
                            </a>
                        </div>

                        <div class="product-info">
                            <h5>
                                <a href="{{ path('products_show', {id: random.productId, slugName: random.name|sonata_slugify}) }}">{{ random.name|truncate(55,true) }}</a>
                            </h5>

                            <div class="rating readonly-rating" data-score="{{ random.getAverageRating() }}"></div>
                        </div>

                        <div class="product-actions">
												<span class="add-to-cart">
													<span class="action-wrapper">
                                                        <a href="{{ path('products_show', {id: random.productId, slugName: random.name|sonata_slugify}) }}">
                                                            <i class="icons icon-basket-2"></i>
                                                            <span class="action-name">Vizualizare</span>
                                                        </a>
													</span>
												</span>
												<span class="add-to-favorites">
													<span class="action-wrapper">
														<i class="icons icon-heart-empty"></i>
														<span class="action-name">Adauga in wishlist</span>
													</span>
												</span>
                        </div>

                    </div>
                    <!-- /Carousel Item -->
                </div>
                <!-- /Slide -->


            {% endfor %}



        </div>
    </div>
    <!-- /Carousel -->

</div>
<!-- /Random Products -->

<!-- /Main Content -->
{% endblock content %}