<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,900,700italic,500italic'
          rel='stylesheet' type='text/css'>
    {% block stylesheet_libs %}
        {% stylesheets filter='cssrewrite' output='compiled/css/libs.css'
        '@bootstrap'
        'libs/css/bootstrap.min.css'
        'libs/css/animation.css'
        'libs/css/chosen.css'
        'libs/css/cloud-zoom.css'
        'libs/css/flexslider.css'
        'libs/css/fontello-codes.css'
        'libs/css/fontello-embedded.css'
        'libs/css/fontello-ie7-codes.css'
        'libs/css/fontello-ie7.css'
        'libs/css/fontello.css'
        'libs/css/ie.css'
        'libs/css/jquery-ui.min.css'
        'libs/css/jquery.fancybox.css'
        'libs/css/jquery.nouislider.min.css'
        'libs/css/owl.carousel.css'
        'libs/css/owl.theme.css'
        'libs/css/owl.transitions.css'
        'libs/css/perfect-scrollbar.css'
        'libs/css/select.css'
        'libs/css/settings-ie8.css'
        'libs/css/settings.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}
    {% block stylesheets %}
        {% stylesheets filter='cssrewrite' output='compiled/css/style.css'
        'css/style.css' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <title>{% block title %}Reviews box{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon2.ico') }}"/>
</head>
<body>
<div class="container">

    {% include "::header.html.twig" %}

    {% block admin_bar %}

    {% endblock %}

    <div class="row content">
        <section class="main-content col-lg-9 col-md-9 col-sm-9 col-lg-push-3 col-md-push-3 col-sm-push-3">
            {% block content %}{% endblock %}
        </section>
        {% include "::sidebar.html.twig" %}
    </div>

    {% include "::footer.html.twig" %}

    <div id="back-to-top">
        <i class="icon-up-dir"></i>
    </div>
    <div class="add-product-modal">
        <p class="info"> Va rugam adaugati url-ul catre pagina cu detaliile produsului. Dupa adaugare, aplicatia va afisa produse similare
            cu produsul dumneavoastra. Daca gasiti produsul in lista afisata, este suficient sa alegeti produsul iar apoi veti fi redirectat
            in pagina produsului. In caz contrar, puteti apasa butonul <span>'Nu gasesc produsul'</span> iar acesta va fi adaugat in platforma.
        </p>
        <div class="inputs">
            <input class="url-input" type="text" placeholder="Adaugati url-ul produsului">
            <div class="add-product-button">
                <button class="submit-url btn-warning">Adauga</button>
            </div>
            <div class="not-found">
                <button class="not-found-url btn-info">Nu gasesc produsul</button>
            </div>
        </div>
        <div class="error-message"></div>
        <div class="loader">
            <div class="add-product-loader">
            </div>
            <img src="{{ asset('img/blue-spinner.gif') }}">
        </div>
        <div class="similar-products-wrapper"></div>
    </div>

</div>
{% block javascript_libs %}
    {% javascripts  output='compiled/js/libs.js'
    '@jquery'
    '@jquery_ui'
    'libs/js/underscore.js'
    'libs/js/backbone.js'
    'libs/js/modernizr.min.js'
    'libs/js/jquery.raty.min.js'
    'libs/js/perfect-scrollbar.min.js'
    'libs/js/zoomsl-3.0.min.js'
    'libs/js/jquery.fancybox.pack.js'
    'libs/js/jquery.themepunch.plugins.min.js'
    'libs/js/jquery.themepunch.revolution.min.js'
    'libs/js/flexslider.min.js'
    'libs/js/jquery.iosslider.min.js'
    'libs/js/jquery.nouislider.min.js'
    'libs/js/owl.carousel.min.js'
    'libs/js/chosen.jquery.min.js'
    'libs/js/bootstrap.min.js'
    'libs/js/tinynav.min.js'
    'libs/js/main-script.js'
    '@ReviewsDefaultBundle/Resources/public/js/models/AddProductModel.js'
    '@ReviewsDefaultBundle/Resources/public/js/templates/AddProductTemplate.js'
    '@ReviewsDefaultBundle/Resources/public/js/views/AddProductView.js'
    '@ReviewsDefaultBundle/Resources/public/js/services/AddProductService.js'
    %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
