<!-- Footer -->
<footer id="footer" class="row">


    <!-- Main Footer -->
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div id="main-footer">

            <div class="row">

                <!-- The Service -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h4>Servicii</h4>
                    <ul>
                        {% if app.user %}
                            <li><a href="{{ path('fos_user_profile_edit') }}"><i class="icons icon-right-dir"></i>
                                    Contul
                                    meu</a></li>
                            <li class="add-product"><a href="javascript://"><i class="icons icon-right-dir"></i> Adauga
                                    produs </a></li>
                            <li><a href="{{ path('my_products') }}"><i class="icons icon-right-dir"></i> Produsele mele</a>
                            </li>
                        {% endif %}
                        <li>
                            <a href="{{ path('reviews_default_homepage') }}">
                                <i class="icons icon-right-dir"></i>
                                Acasa
                            </a>

                        </li>

                        <li>
                            <a href="{{ path('reviews_all_products', {'category': 85, slugName: 'photo-video'| sonata_slugify }) }}">
                                <i class="icons icon-right-dir"></i>
                                Photo & Video
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('reviews_all_products', {'category': 7, slugName: 'systems'| sonata_slugify }) }}">
                                <i class="icons icon-right-dir"></i>
                                Laptopuri & Tablete
                            </a>
                        </li>

                        <li>
                            <a href="{{ path('reviews_all_products', {'category': 47, slugName: 'phone-tablet'| sonata_slugify }) }}">
                                <i class="icons icon-right-dir"></i>
                                Telefoane & Accesorii
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /The Service -->

                <!-- Information -->
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <h4>Informatii</h4>
                    <ul>
                        <li><a href="{{ path('reviews_about_us_page') }}"><i class="icons icon-right-dir"></i> Despre
                                noi</a></li>
                        <li><a href="{{ path('reviews_contact_page') }}"><i class="icons icon-right-dir"></i>
                                Contact</a></li>
                        <li><a href="{{ path('reviews_instructions_page') }}"><i class="icons icon-right-dir"></i>
                                Instructiuni adaugare produs</a></li>
                    </ul>
                </div>
                <!-- /Information -->


                <!-- Contact Us -->
                <div class="col-lg-4 col-md-4 col-sm-6 contact-footer-info">
                    <h4>Informatii contact</h4>
                    <ul>
                        <li><i class="icons icon-location"></i> Universitatea din București, <br>

                            Bulevardul Regina Elisabeta, București
                        </li>
                        <li><i class="icons icon-phone"></i> 0728789998</li>
                        <li><i class="icons icon-mail-alt"></i><a href="mailto:calcea10@gmail.com">
                                calcea10@gmail.com</a></li>
                    </ul>
                </div>
                <!-- /Contact Us -->

            </div>

        </div>

    </div>
    <!-- /Main Footer -->


    <!-- Lower Footer -->
    <div class="col-lg-12 col-md-12 col-sm-12">

        <div id="lower-footer">

            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-6">
                    <p class="copyright">Copyright 2016 <a href="{{ path('reviews_default_homepage') }}">Reviews Box</a>.
                        Toate drepturile rezervate.</p>
                </div>
            </div>

        </div>

    </div>
    <!-- /Lower Footer -->

</footer>