<!-- Header -->
<header class="row">

    <div class="col-lg-12 col-md-12 col-sm-12">

        <!-- Top Header -->
        <div id="top-header">

            <div class="row">

                <nav id="top-navigation" class="col-lg-7 col-md-7 col-sm-7">
                    <ul class="pull-left">
                        <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'My Account'|trans }}</a></li>
                        <li><a href="text_page.html">{{ 'About Us'|trans }}</a></li>
                        <li><a href="contact.html">{{ 'Contact'|trans }}</a></li>
                    </ul>
                </nav>

                <nav class="col-lg-5 col-md-5 col-sm-5">
                    <ul class="pull-right">
                        <li class="purple"><a href="#"><i class="icons icon-user-3"></i> Login</a>
                            <ul id="login-dropdown" class="box-dropdown">
                                <li>
                                    <div class="box-wrapper">

                                        {% include '::login-form.html.twig' %}
                                    </div>
                                    <div class="footer">
                                        <h4 class="pull-left">{{ 'NEW CUSTOMER?'|trans }}</h4>
                                        <a class="button pull-right" href="{{ path('fos_user_registration_register') }}">{{ 'Create an account'|trans }}</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <li><a href="{{ path('fos_user_registration_register') }}"><i class="icons icon-lock"></i> {{ 'Create an account'|trans }}</a></li>
                    </ul>
                </nav>

            </div>

        </div>
        <!-- /Top Header -->


        <!-- Main Header -->
        <div id="main-header">

            <div class="row">

                <div id="logo" class="col-lg-4 col-md-4 col-sm-4">
                    <a href="{{ path('reviews_default_homepage') }}"><img src="/img/logo.png" alt="Logo"></a>
                </div>

                <nav id="middle-navigation" class="col-lg-8 col-md-8 col-sm-8">
                    <ul class="pull-right">
                        <li class="blue">
                            <a href="/products/my-products"><i class="icons icon-docs"></i>0 Items</a>
                        </li>
                        <li class="red">
                            <a href="/products/wishlist"><i class="icons icon-heart-empty"></i>2 Items</a>
                            <ul id="cart-dropdown" class="box-dropdown parent-arrow">
                                <li>
                                    <div class="box-wrapper parent-border">
                                        <p>Recently added item(s)</p>

                                        <table class="cart-table">
                                            <tr>
                                                <td><img src="img/products/sample1.jpg" alt="product"></td>
                                                <td>
                                                    <h6>Lorem ipsum dolor</h6>

                                                    <p>Product code PSBJ3</p>
                                                </td>
                                                <td>
                                                    <span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                    <a href="#" class="parent-color">Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img src="img/products/sample1.jpg" alt="product"></td>
                                                <td>
                                                    <h6>Lorem ipsum dolor</h6>

                                                    <p>Product code PSBJ3</p>
                                                </td>
                                                <td>
                                                    <span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                    <a href="#" class="parent-color">Remove</a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><img src="img/products/sample1.jpg" alt="product"></td>
                                                <td>
                                                    <h6>Lorem ipsum dolor</h6>

                                                    <p>Product code PSBJ3</p>
                                                </td>
                                                <td>
                                                    <span class="quantity"><span class="light">1 x</span> $79.00</span>
                                                    <a href="#" class="parent-color">Remove</a>
                                                </td>
                                            </tr>
                                        </table>

                                        <br class="clearfix">
                                    </div>

                                    <div class="footer">
                                        <table class="checkout-table pull-right">
                                            <tr>
                                                <td class="align-right">Tax:</td>
                                                <td>$0.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-right">Discount:</td>
                                                <td>$37.00</td>
                                            </tr>
                                            <tr>
                                                <td class="align-right"><strong>Total:</strong></td>
                                                <td><strong class="parent-color">$999.00</strong></td>
                                            </tr>
                                        </table>
                                    </div>

                                    <div class="box-wrapper no-border">
                                        <a class="button pull-right parent-background" href="#">Checkout</a>
                                        <a class="button pull-right" href="order_info.html">View Cart</a>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        </li>
                    </ul>
                </nav>

            </div>

        </div>
        <!-- /Main Header -->


        <!-- Main Navigation -->
        <nav id="main-navigation" class="style1">
            <ul>

                <li class="home-green current-item">
                    <a>
                        <i class="icons icon-shop-1"></i>
                        <span class="nav-caption">Acasa</span>
                    </a>

                </li>

                <li class="red">
                    <a href="{{ path('reviews_all_products', {'category': 85, slugName: 'photo-video'| sonata_slugify }) }}">
                        <i class="icons icon-camera-7"></i>
                        <span class="nav-caption">Camere</span>
                        <span class="nav-description">Photo & Video</span>
                    </a>
                </li>

                <li class="blue">
                    <a href="{{ path('reviews_all_products', {'category': 7, slugName: 'systems'| sonata_slugify }) }}">
                        <i class="icons icon-desktop-3"></i>
                        <span class="nav-caption">Computere</span>
                        <span class="nav-description">Laptopuri & Tablete</span>
                    </a>
                </li>

                <li class="orange">
                    <a href="{{ path('reviews_all_products', {'category': 47, slugName: 'phone-tablet'| sonata_slugify }) }}">
                        <i class="icons icon-mobile-6"></i>
                        <span class="nav-caption">Telefoane</span>
                        <span class="nav-description">Telefoane & Accesorii</span>
                    </a>
                </li>

                {% if app.user %}
                    <li class="green add-product">
                        <a href="javascript://">
                            <i class="icons icon-pencil-7"></i>
                            <span class="nav-caption">Adauga un produs</span>
                        </a>
                    </li>
                {% endif %}
                <li class="purple">
                    <a href="contact.html">
                        <i class="icons icon-location-7"></i>
                        <span class="nav-caption">Contact</span>
                        <span class="nav-description">Store Locations</span>
                    </a>
                </li>

                <li class="nav-search">
                    <i class="icons icon-search-1"></i>
                </li>

            </ul>

            <div id="search-bar">

                <div class="col-lg-12 col-md-12 col-sm-12">
                    <table id="search-bar-table">
                        <tr>
                            <td class="search-column-1">
                                <input type="text" placeholder="Cauta produse">
                            </td>
                            <td class="search-column-2">
                            </td>
                        </tr>
                    </table>
                </div>
                <div id="search-button">
                    <input type="submit" value="">
                    <i class="icons icon-search-1"></i>
                </div>
            </div>

        </nav>
        <!-- /Main Navigation -->

    </div>
</header>